body {
  background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-family: fantasy, sans-serif;
  color-scheme: light;
  text-align: center;
  color: white;
}

.container {
  text-align: center;
}

button {
  font-size: 18px;
  font-family: fantasy;
  background-color: #ff4500;
  border-color: 10px solid #0000;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ff4500;
  color: #ffff;
}
